@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid pt-4 px-4">
    <div class="col-md-12">
        <h1 class="mt-4">Rezervasyon</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home/Index">Admin Paneli</a></li>
            <li class="breadcrumb-item active">Rezervasyon</li>
        </ol>
    </div>
    <div class="bg-secondary text-center rounded mt-4 p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Servis Tablosu</h6>
            <a href="/Reservation/Add" class="btn-sm">Yeni Rezervasyon Kaydı Ekle</a>
        </div>

        <div class="table-responsive" ng-app="reservationapp" ng-controller="reservationController">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="dtReservation">
                <thead>
                    <tr class="text-white">
                        <th scope="col">Id</th>
                        <th scope="col">Kiralam Tarihi</th>
                        <th scope="col">Teslim Tarihi</th>
                        <th scope="col">Başlangış Km'si</th>
                        <th scope="col">Bitiş Km'si</th>
                        <th scope="col">Açıklama</th>
                        <th scope="col">Araba</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reservation in ReservationList">
                        <td>{{reservation.id}}</td>
                        <td>{{reservation.rentalDate}}</td>
                        <td>{{reservation.deliveryDate}}</td>
                        <td>{{reservation.startingKm}}</td>
                        <td>{{reservation.finishKm}}</td>
                        <td>{{reservation.comment}}</td>
                        <td>{{reservation.carId}}</td>
                        <td>
                            <a href="/Reservation/Update?Id={{reservation.id}}" class="btn-sm ">Düzenle</a>
                            <a ng-click="ReservationDelete(reservation.id)" class="btn-sm ">Sil</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/pages/reservation.js"></script>
}